@import '~antd/lib/style/themes/default.less';
.sider {
  z-index: 10;
}

// hide scroll bar
::-webkit-scrollbar {
  display: none;
}

:global {
  .ant-layout-sider {
    background-color: rgb(0, 12, 23);
  }
  .ant-menu-dark,
  .ant-menu-dark .ant-menu-sub {
    background-color: rgb(0, 12, 23);
  }
  .ant-menu-vertical .ant-menu-item:not(:last-child),
  .ant-menu-vertical-left .ant-menu-item:not(:last-child),
  .ant-menu-vertical-right .ant-menu-item:not(:last-child),
  .ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 4px;
  }

  .ant-menu-vertical .ant-menu-item,
  .ant-menu-vertical-left .ant-menu-item,
  .ant-menu-vertical-right .ant-menu-item,
  .ant-menu-inline .ant-menu-item,
  .ant-menu-vertical .ant-menu-submenu-title,
  .ant-menu-vertical-left .ant-menu-submenu-title,
  .ant-menu-vertical-right .ant-menu-submenu-title,
  .ant-menu-inline .ant-menu-submenu-title {
    font-size: 10px;
    line-height: 40px;
  }
}
